.layout {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.wrapper {
  z-index: 100000;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}

.body {
  z-index: 100;
  position: relative;
  display: flex;
  min-width: 180px;
  min-height: 80px;
  background-color: var(--modal-bg);
  z-index: 2;
  border-radius: 8px;
}

.close {
  position: absolute;
  right: 8px;
  top: 8px;
  font-size: 20px;
  padding: 4px;
  border-radius: 4px;
  background-color: var(--ghost-bg);
  cursor: pointer;
  color: var(--modal-close);

  &:hover {
    background-color: var(--ghost-bg-hover);
  }

  &:active {
    background-color: var(--ghost-bg-active);
  }
}
.open {
  animation: fadeIn 0.2s forwards;
}

@media (max-width: 512px) {
  .body {
    max-width: 95vw;
    width: 95vw;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    pointer-events: all;
  }
}
