.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 91.5vh;
}

.bridgeWrapper {
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow-bridge);
  padding: 60px 45px;
  border-radius: 64px;
  z-index: 10;
  background-color: var(--shadow-bg);
}

.networkWrapper {
  display: flex;
  align-items: center;
  height: 42px;
  margin-top: 12px;
  border-radius: 32px;
  border: 0.8px solid #707070;
}

@media (min-width: 768px) {
  .bridgeWrapper {
    width: 644px;
  }
}

@media (max-width: 592px) {
  .bridgeWrapper {
    width: 95vw;
  }
}
