.wrapper {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  max-height: 600px;
  max-width: max-content;
  margin: auto;
  margin-top: 60px;
  flex: 1;
}

.bridgeWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow-bridge);
  padding: 30px 32px;
  border-radius: 64px;
  z-index: 10;
  background-color: var(--shadow-bg);
}

.networkWrapper {
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  justify-content: space-between;
  padding: 6px 36px;
  border-radius: 32px;
  border: 0.8px solid #707070;
  cursor: pointer;
  transition: 0.2s linear;
  &:hover {
    transform: scale(1.01);
    transition: 0.2s linear;
  }
}

.inputWrapper {
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  justify-content: space-between;
  padding: 6px 36px;
  padding-right: 20px;
  border-radius: 32px;
  border: 0.8px solid #707070;
  position: relative;
  transition: 0.2s linear;

  &.focus {
    transition: 0.2s linear;
    box-shadow: 0px 0px 0px 2px var(--wh-red-80);
  }
}

.inner {
  display: flex;
  align-items: center;
}

.input {
  display: flex;
  border: none !important;
  outline: none;
  height: 100%;
  font-size: 20px;
  width: 100%;
  background-color: transparent;
  color: var(--text);
}
.data {
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.exchange {
  display: flex;
  justify-content: center;

  margin-top: 0.5rem;
  transform: translateY(12px);
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  color: var(--text);
  border-radius: 50%;
  cursor: pointer;

  &.loading {
    pointer-events: none;
    opacity: 0.5;
  }
}

.modal {
  width: 412px;
  min-height: 512px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
}

.icon {
  color: var(--text);
}

.tokenWrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .bridgeWrapper {
    width: 544px;
  }
}

@media (max-width: 640px) {
  .bridgeWrapper {
    width: 95vw;
  }
}

.item {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 0px !important;
  padding: 16px 24px;
  cursor: pointer;

  &:hover {
    background-color: var(--select-hover);
  }
}

.networkItem {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px 24px;
  padding-right: 20px;
  margin-bottom: 0px !important;
  align-items: center;

  &:hover {
    background-color: var(--select-hover);
  }
}

.itemInner {
  margin-bottom: 0px;
  margin-top: 0px;
}

.tokenWrapper {
  margin-top: 0.1rem;
}

.header {
  padding: 24px 24px;
}

.itemImage {
  margin-right: 1rem;
  border-radius: 50%;
}

.tokenController {
  display: flex;

  &:hover {
    background-color: var(--modal-bg);
  }

  padding: 6px 8px;
  color: var(--text);
  border-radius: 8px;
  cursor: pointer;
  align-items: center;

  & svg {
    margin-left: 8px;
  }
}

.l1 {
  width: 180px;
  position: absolute;
  left: 50px;
  top: 0px;
  transform: translate(-50%, -50%);
  animation: anim1 infinite linear 5s;
  animation-delay: 1s;
}
@keyframes anim1 {
  0% {
    transform: rotate(0deg) translate(-50%, -50%);
  }
  50% {
    transform: rotate(-10deg) translate(-50%, -50%);
  }
  100% {
    transform: rotate(0deg) translate(-50%, -50%);
  }
}
@keyframes anim2 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes anim3 {
  0% {
    transform: rotate(0deg) translate(-50%, -50%);
  }
  50% {
    transform: rotate(10deg) translate(-50%, -50%);
  }
  100% {
    transform: rotate(0deg) translate(-50%, -50%);
  }
}
@keyframes anim4 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.l2 {
  width: 250px;
  position: absolute;
  left: -50px;
  top: 120px;
  transform: translate(-50%, -50%);
  animation: anim1 infinite linear 5s;
}
.l3 {
  width: 220px;
  position: absolute;
  left: -200px;
  top: 250px;
  animation: anim2 infinite linear 5s;
  animation-delay: 2s;
}
.l4 {
  width: 200px;
  position: absolute;
  left: -100px;
  bottom: -50px;
  animation: anim2 infinite linear 5s;
}

.r1 {
  width: 180px;
  position: absolute;
  right: -100px;
  top: 20px;
  transform: translate(-50%, -50%);
  animation: anim3 infinite linear 5s;
}
.r2 {
  width: 250px;
  position: absolute;
  right: -200px;
  top: -10px;
  animation: anim4 infinite linear 5s;
}
.r3 {
  width: 250px;
  position: absolute;
  right: -220px;
  top: 250px;
  animation: anim4 infinite linear 5s;
}
.r4 {
  width: 200px;
  position: absolute;
  bottom: -80px;
  right: -120px;
  animation: anim4 infinite linear 5s;
}

.headWrapper {
  position: absolute;
  top: 0px;

  &.loading {
    animation: headAnimation forwards 4s;
  }
}

@keyframes headAnimation {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-120px);
  }
}

.head {
  width: 200px;
}

.rightEye {
  position: absolute;
  right: 25px;
  bottom: 28px;
  width: 60px;
  animation: eyeAnimation infinite 4s;
}

.leftEye {
  position: absolute;
  left: 25px;
  bottom: 28px;
  width: 60px;
  animation: eyeAnimation infinite 4s;
}

@keyframes eyeAnimation {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(3px);
  }
  75% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0px);
  }
}
