:root {
  /* RED */
  --wh-red-0: #fdf1f1;
  --wh-red-5: #fce3e3;
  --wh-red-10: #fad1d1;
  --wh-red-20: #f8bfbf;
  --wh-red-30: #f39595;
  --wh-red-40: #ef6c6c;
  --wh-red-50: #ea4343;
  --wh-red-60: #e61919;
  --wh-red-70: #bc1515;
  --wh-red-80: #931010;
  --wh-red-90: #6a0c0c;
  --wh-red-100: #530909;

  /* Orange */
  --wh-orange-0: #fdf3ed;
  --wh-orange-5: #fae4d6;
  --wh-orange-10: #f8d6bf;
  --wh-orange-20: #f5c4a3;
  --wh-orange-30: #efa06c;
  --wh-orange-40: #e9803a;
  --wh-orange-50: #cf6017;
  --wh-orange-60: #bc5815;
  --wh-orange-70: #974711;
  --wh-orange-80: #73360d;
  --wh-orange-90: #532709;
  --wh-orange-100: #452008;

  /* Yellow */
  --wh-yellow-0: #fdf4e2;
  --wh-yellow-5: #fbe7c1;
  --wh-yellow-10: #f9d99f;
  --wh-yellow-20: #f6c974;
  --wh-yellow-30: #f0a314;
  --wh-yellow-40: #ce8b0d;
  --wh-yellow-50: #b1770b;
  --wh-yellow-60: #9e6a0a;
  --wh-yellow-70: #815708;
  --wh-yellow-80: #604006;
  --wh-yellow-90: #483005;
  --wh-yellow-100: #3a2704;

  /* Green */
  --wh-green-0: #e5faf0;
  --wh-green-5: #c7f5df;
  --wh-green-10: #a4efcb;
  --wh-green-20: #70e6ad;
  --wh-green-30: #22c375;
  --wh-green-40: #1fad68;
  --wh-green-50: #1b985b;
  --wh-green-60: #188651;
  --wh-green-70: #147144;
  --wh-green-80: #0f5232;
  --wh-green-90: #0b3d25;
  --wh-green-100: #08301d;

  /* Blue */
  --wh-blue-0: #ecf5fe;
  --wh-blue-5: #d9ecfd;
  --wh-blue-10: #c1e0fb;
  --wh-blue-20: #a4d1f9;
  --wh-blue-30: #66b2f5;
  --wh-blue-40: #3a9df2;
  --wh-blue-50: #0f82e6;
  --wh-blue-60: #0d77d3;
  --wh-blue-70: #0b61ad;
  --wh-blue-80: #084981;
  --wh-blue-90: #063660;
  --wh-blue-100: #052b4d;

  /* Purple */
  --wh-purple-0: #f9f1fd;
  --wh-purple-5: #f4e3fc;
  --wh-purple-10: #ecd1fa;
  --wh-purple-20: #e5bff8;
  --wh-purple-30: #d495f3;
  --wh-purple-40: #c775f0;
  --wh-purple-50: #b64ceb;
  --wh-purple-60: #af3ae9;
  --wh-purple-70: #9117cf;
  --wh-purple-80: #7112a1;
  --wh-purple-90: #540d77;
  --wh-purple-100: #410a5c;

  /* Pink */
  --wh-pink-0: #fdf1f6;
  --wh-pink-5: #fce3ec;
  --wh-pink-10: #fad1df;
  --wh-pink-20: #f8bfd3;
  --wh-pink-30: #f391b3;
  --wh-pink-40: #ee6897;
  --wh-pink-50: #e93a77;
  --wh-pink-60: #e1195f;
  --wh-pink-70: #b8144e;
  --wh-pink-80: #8e103c;
  --wh-pink-90: #6a0c2d;
  --wh-pink-100: #530909;

  /* Steel */
  --wh-steel-0: #f4f5f6;
  --wh-steel-5: #e9ebed;
  --wh-steel-10: #dbdee1;
  --wh-steel-20: #cacfd3;
  --wh-steel-30: #a8b0b8;
  --wh-steel-40: #949fa8;
  --wh-steel-50: #788591;
  --wh-steel-60: #6a7681;
  --wh-steel-70: #555f68;
  --wh-steel-80: #40484f;
  --wh-steel-90: #30363b;
  --wh-steel-100: #25292d;

  /* Neutral */
  --wh-neutral-0: #fafafa;
  --wh-neutral-5: #f5f5f5;
  --wh-neutral-10: #f0f0f0;
  --wh-neutral-20: #ebebeb;
  --wh-neutral-30: #dbdbdb;
  --wh-neutral-40: #bfbfbf;
  --wh-neutral-50: #8a8a8a;
  --wh-neutral-60: #5c5c5c;
  --wh-neutral-70: #404040;
  --wh-neutral-80: #1f1f1f;
  --wh-neutral-90: #1c1c1c;
  --wh-neutral-100: #141414;

  /* Black & White */
  --wh-black: #000000;
  --wh-white: #ffffff;
}
