@font-face {
    font-family: "SF Pro";
    src: url(./sf-pro/SFPRODISPLAYBLACKITALIC.OTF);
    font-style: italic;
    font-weight: 900;
  }
@font-face {
    font-family: "SF Pro";
    src: url(./sf-pro/SFPRODISPLAYBOLD.OTF);
    font-style: normal;
    font-weight: 700;
  }
@font-face {
    font-family: "SF Pro";
    src: url(./sf-pro/SFPRODISPLAYHEAVYITALIC.OTF);
    font-style: italic;
    font-weight: 800;
  }
@font-face {
    font-family: "SF Pro";
    src: url(./sf-pro/SFPRODISPLAYLIGHTITALIC.OTF);
    font-style: italic;
    font-weight: 300;
  }
@font-face {
    font-family: "SF Pro";
    src: url(./sf-pro/SFPRODISPLAYMEDIUM.OTF);
    font-style: normal;
    font-weight: 500;
  }
@font-face {
    font-family: "SF Pro";
    src: url(./sf-pro/SFPRODISPLAYREGULAR.OTF);
    font-style: normal;
    font-weight: 400;
  }
@font-face {
    font-family: "SF Pro";
    src: url(./sf-pro/SFPRODISPLAYSEMIBOLDITALIC.OTF);
    font-style: italic;
    font-weight: 600;
  }
@font-face {
    font-family: "SF Pro";
    src: url(./sf-pro/SFPRODISPLAYTHINITALIC.OTF);
    font-style: italic;
    font-weight: 100;
  }
@font-face {
    font-family: "SF Pro";
    src: url(./sf-pro/SFPRODISPLAYULTRALIGHTITALIC.OTF);
    font-style: italic;
    font-weight: 200;
  }

