@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import "./colors.scss";
@import "./shadow.scss";

body {
  margin: 0;
  max-height: 100vh;
  overflow-y: hidden;
}

.web3modal-modal-lightbox {
  z-index: 10000;
}

body * {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.dark {
  --navbar: var(--wh-steel-90);
  --modal-bg: var(--wh-neutral-100);
  --modal-close: var(--wh-steel-5);
  --ghost-bg: var(--wh-neutral-100);
  --ghost-bg-hover: var(--wh-neutral-90);
  --ghost-bg-active: var(--wh-neutral-80);
  --select-hover: var(--wh-neutral-90);
  --text: var(--wh-white);
  --bg: url(../assets/images/background_dark.png);
  --shadow-bg: #1d1e31;
}

.light {
  --navbar: var(--wh-steel-5);
  --modal-bg: var(--wh-white);
  --modal-close: var(--wh-neural-100);
  --ghost-bg: var(--wh-white);
  --ghost-bg-hover: var(--wh-steel-0);
  --ghost-bg-active: var(--wh-steel-5);
  --text: var(--wh-black);
  --bg: url(../assets/images/background_light.png);
  --shadow-bg: #f3f3f3;
  --select-hover: var(--wh-steel-0);
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--bg) 0% 0% no-repeat padding-box;
  background-size: cover;
}

.web3modal-modal-card {
  display: flex;
  flex-direction: column-reverse;
}

.Toastify {
  z-index: 100000;
}
.Toastify__toast-container {
  z-index: 100000;
}
