.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 12px 24px;
  z-index: 10000;
}

.logo {
  width: 160px;
}

.buttons {
  display: flex;
  align-items: center;
}

.buttonEach {
  margin-right: 1rem;
}

.networkButton {
  margin-right: 1rem;
}

@keyframes animation {
  from {
    width: 40px;
  }
  to {
    width: 80px;
  }
}

.items {
  z-index: 1000;
  display: flex;
  align-items: center;
}

.itemsItem {
  margin-top: 1rem;
  margin-left: 50px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
